---
import Layout from '../layouts/Layout.astro';
import Vid from '../components/Vid.svelte'
---

<Layout title="Video Test">
	<main class="flex w-[100vw] min-h-[100svh] justify-center items-center bg-black overflow-hidden">
		<Vid client:load />
	</main>
</Layout>
